page-recetas {
  .image-container {
      min-height: 200px;
      min-width: 200px;
      background-size: cover;
  }
  img{
      height: 200px;
      width: 100%;
  }
  h3{
      
      color: #F60543;
      
      font-style: italic;
      
  }
  h5{
      font-weight: bold;
      font-style: italic;
  }
  hr.new1{
      border-top: 1px dashed #F60543;
    }
  
    #titulo{
      color: #F60543;
      font-weight: bold;
    }
  
}