page-recetas {
  .image-container {
      min-height: 200px;
      min-width: 200px;
      background-size: cover;
  }
  img{
    width: 100%;
    height: 200px;
  }
  h3{
      
      color: #F60543;
      
      font-style: italic;
      
  }
  h5{
      font-weight: bold;
      font-style: italic;
  }
  hr.new1{
      border-top: 1px dashed #F60543;
    }
  
    #titulo{
      color: #F60543;
      font-weight: bold;
    }
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;

      }

}